.contl
{
    background-color: black;
    height:25vh;
    text-align: center;
    padding-top: 18px;
    display: flexbox;
    
    
}

.contll
{
    color:white;
    display: flexbox;
    
} 

.sp
{
    padding: 15px;

}
