.log_content
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height:100vh;
    width:100%;
    /* background-color: rgb(211, 219, 223); */
    background-image: url(D:\WPT\wptfront\multi.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    text-align:center;
   
} 


.log_content2
{
    background-color: rgb(211, 219, 223);
    padding: 50px;
    border: 2px solid black;
    margin-left: 40%;
}


.inpp
{
    border-radius: 5px;
    width: 250px;
} 
 
